body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.container {
    height: 100vh;
}
.hero {
    position: inherit;
    display: flex;
}

.hero-description {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-description h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 50px;
    margin-left: 20px;
    animation: sideIn 1.2s ease;
}

.hero-description p {
    font-family: 'Roboto Mono', sans-serif;
    margin-left: 22px;
    margin-top: -20px;
    animation: sideIn 1.2s ease;
}

.hero-image {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation: sideInRight 1.2s ease;
}
.hero-image img {
    height: 30vw;
    width: auto;
    border-radius: 1000px;
    z-index: 1;
}

.img-bg-container {
    position: absolute;
    top: 17%;
    left: 15%;
    
}

#twelve-point-star {
    height: 65.5vh;
    width: 35vw;
    background: transparent;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    animation: rotation 20s linear infinite;
 }
 #twelve-point-star:before{
    height: 65.5vh;
    width: 35vw;
    background: transparent;
    border: 3px solid black;
    border-radius: 10px;
    content:"";
    position: absolute;
    /* Rotate */
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
 }

 #twelve-point-star:after {
    height: 65.5vh;
    width: 35vw;
    background: transparent;
    border: 3px solid black;
    border-radius: 10px;
    content:"";
    position: absolute;
    /* Rotate */
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
 }

 @keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
 }

 @keyframes sideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
 }

 @keyframes sideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
 }


 /* Card Section */
.card-section {
    margin-top: 100px;
    height: 20vh;
    position: relative;
}

 .card-container {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
 }

 .card-1, .card-2, .card-3 {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background: rgb(173,173,173);
    background: linear-gradient(0deg, rgba(173,173,173,1) 0%, rgba(193,193,193,1) 25%, rgba(213,213,213,1) 50%, rgba(233,233,233,1) 75%, rgba(253,253,253,1) 100%);
    width: 20vw;
    height: 46vh;
    animation: fadeInUp 1s ease-in;
 }
.card-container h2 {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}
.card-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/* About Section */
.about-container {
    margin-top: 150px;
    padding: 100px 10px 10px 50px;
    position: relative;
    z-index: 1;
    color: #363636;
    height: 100vh;
}

.about-container h1, .Products h1, .services-container h1, .contacts-container h1{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 32px;
    position: relative;
    text-align: center;
}
.about-container h1::before, .Products h1::before, .services-container h1::before, .contacts-container h1::before{
    content: "";
    position: absolute;
    width: 100px;
    background-color: black;
    height: 2px;
    top: 100%;
    border-radius: 10px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 90px;
}
.about::before {
    content: "";
    width: 39vw;
    height: 38vh;
    position: absolute;
    top: 19%;
    left: 9%;
    border: 2px solid black;
    -webkit-transform: skew(340deg); 
    -moz-transform: skew(340deg); 
    -o-transform: skew(340deg);
    transform: skew(340deg);
    z-index: 1;
}
.about::after {
    content: "";
    width: 39vw;
    height: 38vh;
    position: absolute;
    top: 30%;
    left: 3%;
    border: 2px solid black;
    -webkit-transform: skew(340deg); 
    -moz-transform: skew(340deg); 
    -o-transform: skew(340deg);
    transform: skew(340deg);
    z-index: 1;
}

.about-description {
    padding-right: 20px;
    flex: 1.5;
}
.about-description h2, .partnership-description h2 {
    font-family: 'Roboto Mono', sans-serif;
}
.about-description p {
    font-family: 'Roboto', sans-serif;
}

.about-image img {
    width: 350px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-image{
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Products */
.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 10px 80px 80px 80px;
}
.prod-image-container {
    z-index: 1;
    margin-top: 20px;
    position: relative;
}

.prod-image-container img{
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.prod-description p{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.prod-description {
    padding: 0;
}

/* Partnership */
.partnership {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 60px 0 60px;
}
.partnership-image, .partnership-description {
    flex: 1;
}

.partnership-image img {
    width: 40vw;
    height: auto;
    border-radius: 10px;
}

/* Services */
.services-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.services-container {
    padding-top: 100px;
}

.services-container h1{
    font-family: 'Roboto Mono', sans-serif;
}
.services-card-container i {
    font-size: 50px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}
.services-card-container i:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #e1e1e1;
    border-radius: 100px;
    position: absolute;
    left: -5px;
    top: -14px;
    z-index: -1;
}

.service-card-1, .service-card-2, .service-card-3, .service-card-4, .service-card-5, .service-card-6 {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.service-card-1:hover, .service-card-2:hover, .service-card-3:hover, .service-card-4:hover, .service-card-5:hover, .service-card-6:hover {
    background-color: #626262;
    color: white;
}

/* Contacts */
.contacts-container {
    padding-top: 100px;
}

.contact-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.contact-information i {
    font-size: 34px;
    text-shadow: 1px 1px #d6d6d6;
}
.contact-information button {
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: #4d4c4c;
    font-family: 'Roboto Condense', sans-serif;
    transition: transform .3s ease-in-out;
}
.contact-information button:hover {
    background-color: #787878;
}

.phone, .email, .chat, .address {
    width: 500px;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}
.info {
    margin-left: 34px;
    flex: 2;
}

/* Footer */
footer {
    margin-top: 60px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    color: white;
}


@media only screen and (max-width: 920px) {
    #twelve-point-star, #twelve-point-star:after, #twelve-point-star:before {
        width: 36vw;
        height: 46vh;
    }
    .img-bg-container{
        top: 27vh;
        left: 7vw;
    }
    .card-container p {
        font-size: 14px;
    }
    .about-image img {
        height: 48vh;
        width: 30vw;
    }
    .about::before {
        top: 20px;
        left: 60px;
    }
    .about::after {
        top: 40px;
        left: 30px;
    }
    
}

@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    #twelve-point-star, #twelve-point-star:after, #twelve-point-star:before {
        width: 55vw;
        height: 48vh;
    }
    .img-bg-container{
        top: 5%;
        left: 21.5%;
    }
    .hero-image img {
        width: 260px;
        height: auto;
        margin-top: 6%;
    }
    .hero-image {
        margin-top: 12%;
    }
    .card-1, .card-2, .card-3 {
        width: 45vw;
        margin-bottom: 26px;
    }
    .card-container {
        flex-direction: column;
    }
    .about-container {
        margin-top: 135vh;
    }
    .about-description p {
        font-size: 14px;
    }
    .about-image img {
        height: 32vh;
        width: 30vw;
    }
    .about::before {
        display: none;
    }
    .about::after {
        display: none;
    }
    .Products {
        margin-top: -150px;
    }
    .partnership {
        flex-direction: column;
    }
    .partnership-image img {
        width: 59vw;
    }
}